/* Common Button's Style */
.primary-btn{
	display: inline-block;
	color: $color-white;
	font-size: toRem(18);
	font-weight: 500;
	font-family: $font-secondary;
	border: 0;
	border-radius: 0;
	letter-spacing: 1.4px;
	padding: toRem(14) toRem(32);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	transform: scale(1) rotate(0);
	transition: 0.4s transform cubic-bezier(0.68, -0.55, 0.27, 1.55);
	&--black{
		filter: invert(1);
		@include light-mode{
			filter: invert(0);
		}
	}
	&:hover,
	&:active,
	&:focus,
	&:focus-visible{
		color: $color-white;
	}
	@include min-tablet{
		&:hover,
		&:focus-visible{
			transform: scale(1.1) rotate(3deg);
		}
	}
	@include tablet{
		transition-duration: 0.15s;
		&:active{
			transform: scale(1.1) rotate(3deg);
		}
	}
}

.rounded-btn{
	width: toRem(50);
	height: toRem(50);
	background-color: $color-btn-primary;
	border: 1px solid #114d09;
}

.scroll-top{
	bottom: 15%;
	right: 1%;
	display: none;
	cursor: pointer;
	z-index: 7;
	&__btn{
		width: toRem(53);
		height: toRem(53);
		font-size: toRem(40);
		color: darken($color-primary, $amount: 20);
		background: $color-white;
		@extend %shadow;
		@extend %transition;
		&:hover{
			color: $color-white;
			background: darken($color-primary, $amount: 20);
		}
	}
}