// SCSS Variable's
$font-primary: "obviously-wide", sans-serif;
$font-secondary: 'Bebas Neue', cursive;

$color-btn-primary:#3ad31f;
$color-primary:#00b21d;
$color-secondary:#7289da;
$color-shadow:#197500;
$color-border:#e7e6e4;
$color-text:#2a2825;
$color-danger:#b50626;
$color-gray:#82817d;
$color-yellow:#fee81d;
$color-bg:#071e26;
$color-bg-light:#f3f1ee;

$color-black:#000000;
$color-white:#ffffff;